<!DOCTYPE html>
<html>
  <head>
    <title>Reference Manager</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Reference Manager</h1>

    <% for (let ref of references) { %>
      <%= ref.title %>
      <br />
    <% } %>
  </body>
</html>
