<!DOCTYPE html>
<html>
  <%- include("../templates/head.ejs") %>
  <body>
    <div class="container">
      <h1>Reference Manager</h1>

      <%- include("../components/searchBar.ejs", { query }) %>

      <%- include("../components/referencesList.ejs", { references }) %>
    </div>

    <%- include("../templates/footer.ejs") %>
  </body>
</html>
